name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: 10.6.1
          run_install: false
      - uses: actions/setup-node@v3
        with:
          node-version: 23
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm format:check
      - run: pnpm test:coverage
      - run: pnpm build
      - run: bash <(curl -s https://codecov.io/bash)
